
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
flex-direction: column;
gap: 2em;
align-items: center;
}

hr{
margin-top: 50px;
}
      
.media-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.media-card-content p {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery section {
    flex: 1 1 460px;
}

@media screen and (min-width: 550px) {
    .main-nav {
        flex-direction: row;
        padding-right: 50px;
        justify-content: end;
    }

    .media-card {
        flex-direction: row;
    }

    .media-card-content p {
        display: flex;
    }
}